{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>ONJE </title>
</head>

<body>
  <header>
    <nav> 
      <h1><a href='/'> <i class="Onje"></i>Ó|n|j|é </a></h1>
      <a class="" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
      <a href="/contacts/int:id"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      <a href="#"><i style="font-size:24px" class="fa">&#xf07a;</i> Cart</a>
    </nav>
  </header>
  <main>
    <div class=product>
      <h2><a href="/product/"><i class="fa fa-fw fa-product"></i> Products</a> </h2>
    </div>

  </main>


  <footer>
    <div id="social-media">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="http://youtube.com" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-rss"></a>
      <a href="/email/" class="fa fa-contactUs"> contact us</a>
    </div>
  </footer>

  {% block content %}
  {% endblock %}
</body>

</html>