{% extends 'base.html' %}

{% block content %}
  <div class="customer">
    {% for customer in customers.all %}
    <h2>{{customer.name}}</h2>
    <!-- <img src="{{customer.image_url}}" alt=""> -->
    <form action="/customers/{{customer.id}}/delete" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete {{customer.name}}">
    </form>
    <a href="/customers/{{customer.id}}/edit"> Edit {{customer.name}} </a>
    {% endfor %}

    <footer>
      <a href="/customers/{{customer.id}}/edit"> Edit {{customer.name}} </a>
      <form action="/customers/{{customer.id}}/delete">
        {% csrf_token %}
        <input type="submit" value="Delete {{customer.name}}">
      </form>
    </footer>
  </div>
{% endblock %}
