* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  color: black;
  height: 100%;
  position: relative;
  border-color: black;
  border-width: .40em;
  border-style: dashed;
  background-color: rgba(241, 69, 7, 0.8);
}

nav {
  padding: 15px;
  height: 80px;
  width: 90%;
}

header {
  top: 5;
  left: 0;
  right: 0;
  height: 90px;
  display: flex-end;
  align-items: center;
  /* background: rgb(235, 241, 240, 0.7); */
  align-content: space-between;
}

header * {
  display: inline-block;
}
span{
  line-height: 2em;

}
h1 {
  font-family: 'Bungee Inline';
  border: solid rgb(31, 1, 1) 2px;
  background: red;
  position: relative;
}

.logo {
  color: white;
  size: 5em;
 
}

a {
  color: black;
  text-decoration: none;
}

p {
  text-align: justify;
  font-size: 10px;
}

.products {
  display: flex;
}

form {
  max-width: 450px;
  max-height: 450px;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 3px solid black;
  background: red;
}

h2 {
  color: black;
  font-size: 12px;
  display: block;
  margin: 0 auto;
}

img {
  max-height: 3rem;
  transition: opacity 1s ease-in-out;
}


footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  display: inline;
  background: red;
  text-decoration: none;
  border: solid black 2px;
}

.social-links {
  display: inline-block;
  text-indent: 1em
  /* height: 50px; */
}

.fa:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa-contactUs {
  float: right;
}

.form-action {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
  text-decoration: none;
}

.fa-contactUs:hover {
  color: white;
}