body {
  color: black;
}

nav {
  padding: 15px;
  height: 80px;
  width: 90%;

}

header {
  top: 5;
  left: 0;
  right: 0;
  height: 90px;
  display: flex-end; 
  align-items: center;
  /* background: rgb(235, 241, 240, 0.7); */
  align-content: space-between;
}

header * {
  display: inline-block;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  border: solid black 2px;
  background: red;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

p {
  float: right;
}

.products {
  margin: 150px;
}

h2 {
  color: blue;
}

form {
  max-width: 450px;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: rgb(235, 241, 240);
}

/* h1 {
  font-size: 36px;
} */

h2 {
  font-size: 22px;
  display: flex;
  margin: 20px;
}

.contact {
  display: inline-block;
  background-color: red;
  width: 350px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 10px solid black;
  border-radius: 10%;
}

a img {
  border-radius: 40%;
  height: 300px;
}

footer {
  padding: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-display: inline;
  display: inline;
  background: rgb(235, 241, 240);
  text-decoration: none;
}

.social-links {
  display: inline-block;
  text-indent: 1em
  /* height: 50px; */
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa-contactUs {
  float: right;
}

.fa-contactUs, .form-action {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
  text-decoration: none;
}

.fa-contactUs:hover {
  color: rgb(158, 4, 4);
}